
@font-face {
  font-family: 'Amarna';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/Amarna/static/Amarna-Bold.ttf');
}

@font-face {
  font-family: 'Amarna';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Amarna/static/Amarna-Regular.ttf');
}
